{% extends 'base.html' %}
{% load get_category_products %}

{% block breadcrump %}
{% include 'shop/inc/_breadcrump_category.html' %}
{% endblock %}

{% block row %}

{% if category.title == 'Smartphones' %}
{% get_smartphones as products %}
{% elif category.title == 'Notebooks' %}
{% get_notebooks as products %}
{% endif %}

{% for product in products %}
<div class="col-lg-4 col-md-6 mb-4 pt-3">
    <div class="card h-100">
        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ product.get_absolute_url }}">{{ product }}</a>
            </h4>
            <h5>{{ product.price }} RUB</h5>
            <p class="card-text">{{ product.description|truncatewords:30 }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Подробнее</small>
        </div>
    </div>
</div>
{% endfor %}

{% endblock row %}

