{% extends 'base.html' %}
{% load specifications %}

{% block breadcrump %}
{% include 'shop/inc/_breadcrump.html' %}
{% endblock breadcrump %}

{% block row %}

<div class="col-md-4">
    <img src="{{ product.image.url }}" class="img-fluid">
</div>

<div class="col-md-4">
    <h3>{{ product.title }}</h3>
    <p>Цена: {{ product.price }} </p>
    <p>Цена: {{ product.description|truncatewords:40 }} </p>
</div>

<p class="mt-4">Характеристики</p>

{% product_spec product %}

<!--{% if product.category.title == 'Notebooks' %}-->
<!--{% include 'shop/inc/_notebook_spec.html' %}-->
<!--{% elif product.category.title == 'Smartphones' %}-->
<!--{% include 'shop/inc/_smartphone_spec.html' %}-->
<!--{% endif %}-->


{% endblock %}

